* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
  }

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Comienzo header*/

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#carroContainer{
    display: flex;
    flex-direction: column;
    align-self:flex-end;
    justify-self: right;
    margin: 5px;
}

h1{
    align-self: center;
    color: white;
    font-size: 50px;
    margin: 15px;
    font-family: "Playwrite AR", cursive;
    font-weight: 850;
}

.header-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#container-search{
    display: flex;
    margin: 15px 10px;
}

#input-search{
    width: 250px;
    height: 27px;
    font-size: 0.9rem;
    color: white;
    background: none;
    border: none;
    border-bottom: 2px white solid;
}

#container-search i{
    color: white;
    padding: 8px;
    cursor: pointer;
    transition: all 200ms;
}

#container-search i:hover{
    color: rgb(138, 138, 138);
}


/*Productos*/

#productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    border-top: 1px rgb(37, 37, 37) solid;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 10px;
    margin: 10px;
    border: 1.5px rgb(15, 15, 15) solid;
    border-radius: 5px;
}

.imageDOM{
    width: 280px;
    height: 300px;
    border-radius: 5px;
}

.nombreDOM{
    padding: 10px;
}

.precioDOM{
    padding: 0 10px 10px 10px;
}

.buy{
    align-self: center;
    font-size: 1rem;
    padding: 3px;
    width: 95%;
}

/*Carrito*/

#carrito{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1.5px rgb(15, 15, 15) solid;
    position: fixed;
    top: -90%;
    z-index: 9;
    transition: all 500ms;
}

.contenedorCar{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border: 1.5px rgb(15, 15, 15) solid;
}


.contenedorCar p{
    padding: 0 40px;
}

.containerCant{
    display: flex;
    justify-content: space-evenly;
}

.containerCant p{
    padding: 0 10px;
}

.containerCant button{
    width: 23px;
    height: 25px;
    font-size: 18px;
    padding: 0 3px;
}

.containerCant .menos{
    padding: 0 5px;
}

#carrito .totalCar{
    margin-top: 10px;
    align-self: center;
}

#carrito .totalUni{
    margin-top: 10px;
    align-self: center;
}

#carroContainer i{
    color: white;
    font-size: 1.1rem;
    padding: 5px;
    margin: 10px 0;
    align-self: flex-end;
    cursor: pointer;
    transition: all 200ms
}

#carroContainer i:hover{
    color: rgb(138, 138, 138);
}